# C
*.o
*.exe
*.app
*.zip

# LaTeX temporary files
*.fdb_latexmk
*.fls
*.synctex.gz
*.aux
*.log
*.toc

# KiCad
#   Temporary files
*.000
*.bak
*.bck
*.sch-bck
*.sch-bak
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb

#   Netlist files (exported from Eeschema)
*.net

#   Autorouter files (exported from Pcbnew)
*.dsn
*.ses

#   Exported BOM files
*.xml
*.csv

#   Exported 3D models
*.step

#   Exported gerbers
gerber*
*-gerber
*.zip

#   build files
build
